body{
	font-family:Georgia, 'Times New Roman', Times, serif;
	padding: 0;
	margin: 0;
	background-color: #bcb4b4dc;

}
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}

header {
	background: crimson;
	color: #FFFFFF;
	padding-top:30px;
	min-height:70px;
	border-bottom: red 5px solid;
}

header #branding{
	float: left;
}
header #branding h1{
	margin: 0;
}
header nav{
	floar: right;
	margin-top:10px;
}
header .highlight, header .current a{
	color: black;
	font-weight:bold;
}
ul#calltoaction li{
	list-style: none; 
	padding: 20px;
	border: red solid 3px;
	margin-bottom: 5px;
	background: #be4141;
}
.page-title{
    color: black;
    font-weight: bold;
    font-size: 30px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: underline;
	text-align: center;
}
.logo{
	
}
footer{
	padding: 20px; 
	margin-top:20px;
	color: #ffffff;
	background-color: crimson;
	text-align: center
}

